:root {
    --clr-info: hsl(214, 100%, 60%);
    --clr-valid: hsl(113, 100%, 50%);
    --clr-warning: hsl(56, 100%, 50%);
    --clr-error: hsl(15, 100%, 50%);
}

/*--------------*/
/* Main content */
/*--------------*/

.tool-bar {
    background: var(--clr-bg-600);
    height: 3rem;
    display: flex;
    align-items: center;
}

.tool--button {
    min-width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool--button:hover {
    background: var(--clr-bg-800);
    cursor: pointer;
}

.tool--button span {
    display: none;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    padding-inline: 1rem;
}

.tool-fontSize {
    margin: 0;
    padding: 0;
    width: 4rem;
    height: 3rem;
    border: none;
    outline: none;
    text-align: center;
    background: none;
    color: var(--clr-pr-000);
    font-size: 1rem;
    cursor: pointer;
}
.tool-fontSize:hover {
    background-color: var(--clr-bg-800);
}
.tool-fontSize option {
    background: var(--clr-bg-800);
}


@media (min-width:720px) {
    .tool--button {
        max-width: 100%;
        height: 100%;
    }

    .tool--button img{
        display: none;
    }

    .tool--button span {
        display: block;
    }
}

.window {
    position: relative;
    width: 100%;
    height: calc(100% - 8rem);
}


.state-bar {
    position: relative;
    background: var(--clr-bg-600);
    height: 5rem;
}

.container-console {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.container-console::-webkit-scrollbar-track {
    background: inherit;
}

.console-logs {
    position: absolute;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    width: calc(100% - 1.5rem);
    letter-spacing: 1.2px;
}

.console-logs p{
    margin: 0;
    white-space: pre-wrap;
}

.console-logs span[data-state="default"]{
    color: var(--clr-pr-200);
}
.console-logs span[data-state="info"]{
    color: var(--clr-info);
}
.console-logs span[data-state="valid"]{
    color: var(--clr-valid);
}
.console-logs span[data-state="warning"]{
    color: var(--clr-warning);
}
.console-logs span[data-state="error"]{
    color: var(--clr-error);
}

/*--------*/
/* Editor */
/*--------*/

.window--editor {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cursor-state {
    position: absolute;
    right: 0;
    bottom: 100%;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    background: #181818f0;
}

.cursor-state:hover {
    background: var(--clr-bg-600);
    border-bottom: var(--clr-bg-400);
}

.cursor-position {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}

@media (min-width:720px) {
    .cursor-state {
        background: none;
    }

    .cursor-position {
        font-size: 1.25rem;
        font-weight: 500;
    }
}


/*-------------*/
/* Interpreter */
/*-------------*/

.container-menu {
    position: relative;
    min-width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-int {
    display: none;
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 1;
    background: var(--clr-bg-800);
    flex-direction: column;
    cursor: default;
    padding-block: 0.5rem;
    gap: 0.5rem;
}
.menu-int[data-visible="true"]{
    display: flex;
}

.btnCity {
    position: relative;
}
.menu-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    height: 2rem;
}

.menu-field span {
    display: block;
}
.menu-field.text:hover {
    background: var(--clr-bg-600);
}

.menu-field input[type="text"]{
    width: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
    text-align: center;
    outline: none;
}
.menu-field input[type="text"].itemQuantity {
    width: 4rem;
}

.menu-field button{
    height: 100%;
    margin-inline: 0.5rem;
    padding-inline: 0.5rem;
    cursor: pointer;
}
.menu-field button:hover{
    background: var(--clr-bg-600);
}


.city-camera {
    overflow: hidden;
    background: url("../assets/city/map/background-sunshine-siluets-1920x1080.png");
    background-size: cover;
}

.city-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.city-container canvas {
    position: relative;
    width: 1624px;
    height: 1624px;
    image-rendering: pixelated;
}