.city-camera {
    width: 720px;
    height: 720px;
    margin: auto;
    overflow: hidden;
}

.city-container {
    width: 720px;
    height: 720px;
    background-color: #eee;
    outline: 1px solid #fff;
}

.city-container canvas {
    image-rendering: pixelated;
}