.RobotStatus {
    width: 67px;
    height: 14px;
    background: url("../image/robotstatus/robotstatus-plate.png") no-repeat no-repeat;
    position: absolute;

    left: 46px;
    top: 70px;
}

.RobotStatus_character_crop {
    position: absolute;
    bottom: 1px;
    left: 3px;
    width: 22px;
    height: 12px;
    overflow: hidden;
}
.RobotStatus_character {
    display: block;
    position: absolute;
    left: -11px;
    bottom: -7px;
}

.RobotStatus_name {
    position: absolute;
    left: -2px;
    top: -8px;
    white-space: nowrap;
    background: orangered;
    color: white;
    font-size: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
}

.RobotStatus_text {
    position: absolute;
    left: -2px;
    top: -8px;
    white-space: nowrap;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
}
.RobotStatus_inventory {
    position: absolute;
    left: -2px;
    top: -8px;
    white-space: nowrap;
    background: rgb(129, 1, 1);
    color: white;
    font-size: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
}
.RobotStatus_position{
    position: absolute;
    left: -2px;
    top: -8px;
    white-space: nowrap;
    background: rgb(121, 59, 59);
    color: white;
    font-size: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
}


