.city-camera {
    display: grid;
    place-items: center;
    width: 720px;
    height: 720px;
    margin: 0 auto;
    overflow: hidden;
}

.city-container {
    display: grid;
    place-items: center;
    background-color: #eee;
    outline: 1px solid #fff;
    transform: scale(1);
}

.city-container canvas {
    image-rendering: pixelated;
}