:root {
    --background-1: #181818;
    --background-2: #202020;
    --background-3: #282828;
    --background-4: #303030;
    --delimiter: #aaaaaa7f;
    --important-text: #ffffff;
    --primary-text: #dddddd;
    --secondary-text: #aaaaaa;
}

.grid__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6vh 94vh;
}

.main__navbar {
    position: relative;
    grid-column: 1 / span 2;
    background-color: #111;
}

.grid__navbar {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.navbar__logo {
    position: relative;
    background-color: #dd191d;
}

.navbar__menu {
    position: relative;
    background-color: #d81b60;
}



.main__editor {
    position: relative;
    grid-column: 1 / span 1;
    background-color: #333;
}

.grid__editor {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6vh 1fr 6vh;
}

.editor__toolbar {
    position: relative;
    background-color: #8e24aa;
}

.editor__body {
    position: relative;
    background-color: #5e35b1;
}

.editor__stats {
    position: relative;
    background-color: #3949ab;
}



.main__interpreter {
    position: relative;
    grid-column: 2 / span 1;
    background-color: #666;
}

.grid__interpreter {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6vh 1fr  6vh;
}

.interpreter__toolbar {
    position: relative;
    background-color: #4e6cef;
}

.interpreter__body {
    display: grid;
    place-items: center;
    position: relative;
    background-color: #039be5;
}

.interpreter__stats {
    position: relative;
    background-color: #00acc1;
}