:root {
    --clr-pr-000: #ffffff;
    --clr-pr-200: #efefef;

    --clr-delimiter: #7f7f7f;

    --clr-bg-400: #383838;
    --clr-bg-500: #303030;
    --clr-bg-600: #282828;
    --clr-bg-700: #202020;
    --clr-bg-800: #181818;
}

/* Resets */
* {
    padding: 0;
    border: 0;
}
button {
    all: unset;
}

/* Utilities classes */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}


/* Main */
body {
    width: 100vw;
    color: var(--clr-pr-000);
    font-family: monospace;
    overflow-x: hidden;
}

/* Nav bar */
.primary-bar {
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    background: var(--clr-bg-700);
    height: 3rem;
    width: 100%;
    border-bottom: 1px solid var(--clr-bg-400); 
}

.container--logo {
    justify-self: start;
    position: relative;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container--logo p {
    margin: 0 0 0 0.5rem;
    font-size: 1.5rem;
    font-family: monospace;
}


.primary-nav-toggle {
    display: block;
    position: absolute;
    z-index: 3000;
    background: url("../assets/svg/Menu.svg");
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    top: 0.5rem;
    right: 1rem;
}

.primary-nav-toggle[aria-expanded="true"]{
    background: url("../assets/svg/Cross.svg");
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    --gap: 2rem;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    width: 7rem;

    flex-direction: column;
    padding: min(30vh, 4rem) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;

    background: linear-gradient(to right, #ff0000 , #ff7f00)
}

.primary-navigation a {
    text-decoration: none;
    color: var(--clr-pr-000);
    font-size: 1rem;
    font-weight: 1000;
    letter-spacing: 2px;
    font-style: monospace;
    text-transform: uppercase;
}

.primary-navigation[data-visible="true"] {
    transform: translateX(0%);
}


/* Main */

.main {
    position: absolute;
    background: var(--clr-bg-700);
    top: 3rem;
    height: calc((100vh - 3rem) * 2);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (min-width:1440px) {
    .main {
        height: calc(100vh - 3rem);
        flex-direction: row;
    }
}

.content {
    margin: 0.25rem;
    height: calc((100% - 1rem)/2);
    width: calc(100% - 0.5rem);
    display: flex;
    flex-direction: column;
}

@media (min-width:1440px) {
    .content {
        margin: 1rem;
        width: calc((100% - 4rem)/2);
        height: calc(100% - 2rem);
    }
}

.tool--bar {
    background: var(--clr-bg-600);
    height: 3rem;
    display: flex;
    align-items: center;
}

.tool--button {
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool--button:hover {
    background: var(--clr-bg-800);
}

.tool--button span {
    display: none;
}

.window {
    position: relative;
    height: calc(100% - 6rem);
}


.state-bar {
    position: relative;
    background: var(--clr-bg-600);
    height: 3rem;
    display: flex;
    flex-direction: row;
}


/*------------*/
/* Scroll bar */
/*------------*/

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--clr-bg-700);
}

::-webkit-scrollbar-thumb:vertical {
    background: linear-gradient(to bottom, #ff0000a0 , #ff8000a0);
}
::-webkit-scrollbar-thumb:vertical:hover {
    background: linear-gradient(to bottom, #ff0000 , #ff8000);
}
::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(to left, #ff0000a0 , #ff7f00a0);
}
::-webkit-scrollbar-thumb:horizontal:hover {
    background: linear-gradient(to left, #ff0000 , #ff8000);
}


/*--------*/
/* Editor */
/*--------*/


.window--editor {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cursor-state {
    position: absolute;
    right: 0;
    bottom: 3.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    background: #181818f0;
}

.cursor-state:hover {
    background: var(--clr-bg-600);
    border-bottom: var(--clr-bg-400);
}

.editor-cursor-position {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}

@media (min-width:720px) {
    .editor-cursor-position {
        font-size: 1.25rem;
        font-weight: 500;
    }
}