.PauseMenu {
    position: absolute;
    left: 4.5em;
    top: 1em;
    right: 4.5em;
    background: violet;
    color: black;
    border: 1px solid black;
    z-index: 2;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
}

.PauseMenu h2 {
    font-size: 10px;
    color: black;
    margin: 0;
    padding: 2px 0;
    text-align: center;
    border-bottom: 1px solid black;
}