.TextMessage {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 36px;
    font-size: 12px;
    padding: 4px;
    background: red;
    border-top: 1px solid white;
    color: yellow;
}

.TextMessage_p {
    margin: 0;
    font-size: 12px;
}

.TextMessage_button {
    margin: 0;
    font-size: 8px;
    padding: 0;
    -webkit-appearance: none;
    background: none;
    border: 0;
    font-family: inherit;
    cursor: pointer;

    position: absolute;
    right: 2px;
    bottom: 0;
}