:root {
    --clr-h1-a: hsl(36, 56%, 65%);
    --clr-selection: hsl(37, 51%, 30%);
    --clr-general: hsl(37, 70%, 88%);
    --clr-general-p: hsl(37, 40%, 94%);

    --clr-table-border: hsl(0, 100%, 0%);
    --clr-bg-400: hsl(0, 0%, 24%);
    --clr-bg-500: hsl(0, 0%, 20%);
    --clr-bg-600: hsl(0, 0%, 16%);
    --clr-bg-700: hsl(0, 0%, 12%);
    --clr-bg-800: hsl(0, 0%, 8%);

    --clr-pr-0: hsl(32, 100%, 40%);
    --clr-pr-1: hsl(32, 80%, 40%);
    --clr-pr-2: hsl(32, 60%, 40%);

    --clr-tb-0: hsl(32, 100%, 35%);
    --clr-tb-1: hsl(32, 100%, 25%);
    --clr-tb-2: hsl(32, 100%, 10%);

    --clr-selection: hsl(32, 10%, 40%);
    --clr-aclaration: hsl(32, 5%, 16%);
    /* --clr-pr-0: hsl(32,100%,40%);
    --clr-pr-0: hsl(32,100%,40%);
    --clr-pr-1: hsl(32,90%,50%);
    --clr-pr-1: hsl(32,70%,50%);
    --clr-pr-1: hsl(32,50%,50%);
    --clr-pr-1: hsl(32,30%,50%); */
}

/* ------------------------ */
/* Tweking to content style */
/* ------------------------ */

.content {
	border-radius: 0.5rem;
    border: 1px solid var(--clr-bg-400);
    overflow: hidden;
}


/* --------------- */
/* Markdown styles */
/* --------------- */

.doc-body {
    font-size: 1rem;
    line-height: 1.85;
	color: var(--clr-general);
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    padding: 1rem;
    max-width: 100%;
    text-align: left;
    background: var(--clr-bg-700);
    overflow-y: auto;
}

@media screen and (min-width: 720px) {
    .doc-body {
        padding: 2rem;
    }
}

@media screen and (min-width: 1440px) {
    .doc-body {
        padding: 2rem;
    }
}

.doc-body p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
}

.doc-body h1,h2,h3,h4,h5,h6 {
    margin: 1.414rem 0 .5rem;
    font-weight: inherit;
    line-height: 1.42;
}

.doc-body h1 {
    margin-top: 0;
    font-size: 4rem;
    color: var(--clr-pr-0);
}
.doc-body h1 a,
h1 a:hover {
	color: var(--clr-h1-a);
	font-weight: normal;
	text-decoration: none;
}

.doc-body h2 {
    font-size: 2.827rem;
    color: var(--clr-pr-1);
}

.doc-body h3 {
    font-size: 1.999rem;
    color: var(--clr-pr-2);
}

.doc-body h4 {
    font-size: 1.414rem;
}

.doc-body h5 {
    font-size: 1.121rem;
}

.doc-body h6 {
    font-size: .88rem;
}

.doc-body small {
    font-size: .707em;
}


.doc-body img,
.doc-body canvas,
.doc-body iframe,
.doc-body video,
.doc-body svg,
.doc-body select,
.doc-body textarea {
    max-width: 100%;
}

.doc-body img {
border-radius: 50%;
height: 200px;
margin: 0 auto;
width: 200px;
}

.doc-body a,
.doc-body a:visited {
    color: #3498db;
    text-decoration: none;
}

.doc-body a:hover,
.doc-body a:focus,
.doc-body a:active {
    color: #2980b9;
}

.doc-body table {
	width: 100%;
	border-collapse: collapse;
    margin-bottom: 1rem;
}

.doc-body th {
	background-color: var(--clr-tb-2);
}

.doc-body table, th, td {
	padding: 5px;
	border: 1px solid var(--clr-table-border);
}
.doc-body tr {
	background-color: var(--clr-tb-1);
}
.doc-body tr:nth-child(odd) {
	background-color: var(--clr-tb-0);
}

.doc-body .group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.doc-body .group {
    display: inline-block;
}

.doc-body hr {
    display: none;
}

.doc-body sup {
    font-size: 80%;
    line-height: 1;
    vertical-align: super;
}

.doc-body pre {
    background-color: var(--clr-bg-800);
	color: #fff;
    padding: 1rem;
    text-align: left;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	overflow-x: auto;
    margin-bottom: 1rem;
}

/* .doc-body pre code {
	font-size: 10pt;
} */

.doc-body blockquote {
    margin-bottom: 1rem;
    border-left: 5px solid var(--clr-selection);
    font-style: italic;
    padding: 1em;
    text-align: left;
    background: var(--clr-aclaration);
}

.doc-body ul {
    margin-bottom: 1rem;
}

.doc-body ul,
.doc-body ol,
.doc-body li {
    text-align: left;
    margin-left: 1rem;
}

.doc-body p {
    color: var(--clr-general-p);
}


.doc-body ::selection { background: var(--clr-selection); }
.doc-body ::-moz-selection { background: var(--clr-selection); }


.doc-body button::-moz-focus-inner {
    border: 0; padding: 1px;
}