:root {
    --clr-pr-000: hsl(0,0%,100%);
    --clr-pr-100: hsl(0,0%,92%);
    --clr-pr-150: hsl(0,0%,88%);

    --clr-bg-900: hsl(0,0%,4%);
    --clr-bg-800: hsl(0,0%,8%);
    --clr-bg-700: hsl(0,0%,12%);
    --clr-bg-600: hsl(0,0%,16%);
    --clr-bg-500: hsl(0,0%,20%);
    --clr-bg-400: hsl(0,0%,24%);
    
    --clr-br-0: hsl(32,100%,40%);
    --clr-br-no-seleccion-1: hsl(16,100%,40%);
    --clr-br-no-seleccion-2: hsl(24,100%,40%);
    --clr-br-seleccion-1: hsl(12,100%,50%);
    --clr-br-seleccion-2: hsl(20,100%,50%);

    --clr-bg-no-seleccion-1: hsl(0,100%,96%);
    --clr-bg-no-seleccion-2: hsl(0,100%,92%);
    --clr-bg-seleccion-1: hsl(60,100%,45%);
    --clr-bg-seleccion-2: hsl(60,100%,45%);
    --clr-bg-seleccion-3: hsl(60,100%,15%);
    
    --clr-selection: hsl(32, 10%, 40%);
    
    --gdt-tb-rs: to bottom, hsl(0,100%,50%) , hsl(30,100%,50%);
    --gdt-tb-rs-a0: to bottom, hsl(0,100%,35%) , hsl(30,100%,35%);
    --gdt-tr-rs: to right, hsl(0,100%,50%) , hsl(30,100%,50%);
    --gdt-tl-rs: to left, hsl(0,100%,50%) , hsl(30,100%,50%);
    --gdt-tl-rs-a0: to left, hsl(0,100%,35%) , hsl(30,100%,35%);
}

body {
    background-color: var(--clr-bg-900);
    color: var(--clr-pr-150);
}

svg {
    fill: black;
}

svg.railroad-diagram path {
    stroke-width: 3;
    stroke: var(--clr-br-0);
    fill: rgba(0, 0, 0, 0);
}

svg.railroad-diagram text {
    font: bold 14px monospace;
    text-anchor: middle;
}

svg.railroad-diagram text.label {
    text-anchor: start;
}

svg.railroad-diagram text.comment {
    font: italic 12px monospace;
}

svg.railroad-diagram g.non-terminal rect {
    stroke-width: 1;
    stroke: black;
    fill: var(--clr-bg-no-seleccion-1);
}

svg.railroad-diagram rect {
    stroke-width: 1;
    stroke: black;
    fill: var(--clr-bg-no-seleccion-2);
}

.diagramHeader {
    display: inline-block;
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    font-weight: bold;
    font-family: monospace;
    font-size: 18px;
    margin-bottom: -8px;
    text-align: center;
}

.diagramHeaderDef {
    background-color: var(--clr-bg-seleccion-3);
}

svg.railroad-diagram text {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

svg.railroad-diagram g.non-terminal rect.diagramRectUsage {
    color: green;
    fill: var(--clr-bg-seleccion-1);
    stroke-width: 2;
    stroke: var(--clr-br-seleccion-1);
}

svg.railroad-diagram g.terminal rect.diagramRectUsage {
    color: green;
    fill: var(--clr-bg-seleccion-2);
    stroke-width: 2;
    stroke: var(--clr-br-seleccion-1);
}

div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg {
    width: 100%;
}

svg.railroad-diagram g.non-terminal text {
    cursor: pointer;
}

.doc-body ::selection { background: var(--clr-selection); }
.doc-body ::-moz-selection { background: var(--clr-selection); }

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--clr-bg-900);
}

::-webkit-scrollbar-thumb:vertical {
    background: linear-gradient(var(--gdt-tb-rs-a0));
}
::-webkit-scrollbar-thumb:vertical:hover {
    background: linear-gradient(var(--gdt-tb-rs));
}
::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(var(--gdt-tl-rs-a0));
}
::-webkit-scrollbar-thumb:horizontal:hover {
    background: linear-gradient(var(--gdt-tl-rs));
}